* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginButton {
  display: inline-block;
  background-color: #6f42c1;
  border: 1px solid #6f42c1;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  border-right: 1px solid var(--Gray-Color);
}

.menuContent {
  flex: 1;
  overflow-y: auto;
}

.menuFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid #eee;
  font-size: 14px;
  color: #444;
}

.footerLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconoConfig {
  font-size: 18px;
  cursor: pointer;
}
