* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Primary-Color: #673ab7;
  --Secondary-Color: #e4d4ff;
  --White-Color: #000000;
  --Gray-Color: #ebebeb;
  --Red-Color: #ff4343;
  --Hard-Gray: #d9d9d9;
}
